@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";

@theme{

    --font-inter: "Inter", "sans-serif";
    --font-Merriweather:"Merriweather", "serif";
}



.bannner{

    background-image: linear-gradient(to right,#3f2321,transparent),url(images/banner-2.png);
    background-size: cover;
    background-position: center;
}

.navanimation{
    animation: mymove 5s forwards;
}

@keyframes mymove {
  from {width: 0%;}
  to {width: 100%;}
}